.login-container {
    width: 120%; 
    height: 120%; 
    display: flex;
    box-sizing: border-box; 
    flex-direction: column; 
    background-color: white;
    justify-items: left;
    text-align: left;
    padding: 0 20px;
    border-radius: 4px;
}

.login-text {
    font-weight: bold;
}


.login-heading {
    font-size: large;
    margin-bottom: 10px; 
}

.login-container div {
    margin-bottom: 10px; 
}

.login-button {
    background-color: darkseagreen;
    width: 70px;
    text-align: center;
    font-weight: bold;
}

.login-button:hover {
    background-color: lightgray;
}